body{
    font-family: 'Poppins', sans-serif; 
    text-align: justify;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.class-width{
    width: 50%;
    padding-left: 2%;

}
.class-width img{
    width: 80%;
    padding-left: 10px;
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    
}
p{
    font-size: 18px;
    text-align: justify;
    font-weight: lighter;
    color: grey;
    font-style: normal;
    
}
.felxible-container{
    display: flex;
    margin-bottom: 75px;
    padding-right: 20px;
    
    
}
